.svn*
.DS_Store
RoG.jar
dist*
build*
client_log.txt
client_cfg.txt
server_log.txt
server_cfg.txt
hs_err*
lib/slick*
nbproject*
rogcfg.txt
rognotes.rtf
srcback*
*~
log.txt
map/*
sound/*
manifest.mf
testdata*